@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap');

:root {}

html {
    font-family: 'Nunito Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: #024D6D;
    color: #FFF;
    height: 100vh;
    overflow: hidden;
}

/* ============================================================  */

img {
    width: 100%;
}


.cards-container {
    display: flex;
    justify-content: center;
    margin: 0 5rem;
    gap: 1.5rem;
}

.card {
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 25px;
    height: 450px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    transition: flex .6s ease-in;
    cursor: pointer;
}

.card.active-card {
    flex: 5;
}

/* ============================================================== */

.navigation-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.rotating-container {
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    top: 100px;
}

.rotating-circle {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    transition: transform .4s linear;
}

.nav-circle,
.default-circle {
    width: 50px;
    height: 50px;
    background-color: #024D6D;
    border-radius: 100%;
    border: 1px solid #73cbf1;
    position: absolute;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.nav-arrow {
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #73cbf1;
    left: 48%;
}

.nav-circle:nth-child(1) {
    top: 22%;
    left: 12%;
}

.nav-circle:nth-child(2) {
    top: 10%;
    left: 25%;
}

.default-circle {
    top: 5%;
    background-color: gray;
}

.nav-circle:nth-child(4) {
    top: 10%;
    right: 25%;
}

.nav-circle:nth-child(5) {
    top: 22%;
    right: 12%;
}